header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#turnOn {
    width: 6em;
    font-family: sans-serif;
}

#turnOff {
    width: 6em;
    font-family: sans-serif;
}